@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 100; /* Ultralight */
  src: local('SF UI Display Ultralight'), url('~@/assets/fonts/sf-ui-display-ultralight.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 200; /* Thin */
  src: local('SF UI Display Thin'), url('~@/assets/fonts/sf-ui-display-thin.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 300; /* Light */
  src: local('SF UI Display Light'), url('~@/assets/fonts/sf-ui-display-light.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500; /* Medium */
  src: local('SF UI Display Medium'), url('~@/assets/fonts/sf-ui-display-medium.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600; /* Semibold */
  src: local('SF UI Display Semibold'), url('~@/assets/fonts/sf-ui-display-semibold.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: local('SF UI Display Bold'), url('~@/assets/fonts/sf-ui-display-bold.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 800; /* Heavy */
  src: local('SF UI Display Heavy'), url('~@/assets/fonts/sf-ui-display-heavy.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 900; /* Black */
  src: local('SF UI Display Black'), url('~@/assets/fonts/sf-ui-display-black.woff') format('woff');
}
